@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background:url("back.jpg") no-repeat center center/cover;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
  margin: 0;
}

h2 {
  margin: 10px 0 20px;
  text-align: center;color: rgb(220, 155, 236);
}

.container {color: #1ed12d;font-size: larger;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
  padding: 20px;
  width: 350px;
  max-width: 100%;border-radius: 30px;
  box-shadow: 50px;background: url(inback.jpg) no-repeat center center/cover;
}

.result-container {
  background-color: #fff;border-radius: 30px;border: 1px solid greenyellow;color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  width: 100%;
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
  overflow-y: scroll;
  height: 100%;
}

#result::-webkit-scrollbar {
  width: 1rem;
}

.result-container .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.btn {
  border-radius: 30px;
  border: none;
  background-color: #983b3b;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
  box-shadow: 50px solid rgb(16, 206, 117);
}

.btn-large {
  display: block;
  width: 100%;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
a{
  display: flex;
  font-size: 25px;
  box-sizing: border-box;
  justify-content: center;
  width: 300px;
  border-radius: 50px;
  overflow: hidden;
  background-color: antiquewhite;
  box-shadow: 100px solid blueviolet;
}